/* Custom */
body, html {
   margin: 0;
    padding: 0;
}

.navbar, .footer-nav, .links, .header-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navbar {
    padding: 20px;
    background-color: rgba(233, 236, 123, 0.7);   
    margin: 0;
}

.container {
    max-width: 1170px;
    padding: 10px;
    margin: auto;
}

.nav-item, .footer-list {
    display: inline-block;
    padding: 10px;
    list-style: none;
    border-right: 1px solid black;
}

.nav-item:first-child, .footer-list:first-child {
    border-left: 1px solid black;
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    color: deepskyblue;
}

.footer-item {
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.footer-nav {
    background-color: chartreuse;
    padding: 50px;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: burlywood;
}

h2 {
    font-size: 35px;
}

.link {
    display: block;
    padding: 20px;
}

.links {
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content {
    min-height: 100px;
     display: flex;
    align-items: center;
    justify-content: center;
}